* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: "Gilmer-Medium", sans-serif !important;
}
.navbar {
  background-color: black;
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.left {
  height: 65px;
  width: 440px;
  display: flex;
  align-items: center;
}
.brandname {
  height: 34px;
  width: 120px;
  background-size: cover;
  background-image: url("Image/Phoenix/brand-logo/brandname.png");
  position: relative;
}
.middle {
  height: 65px;
  width: 536px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
}
.logo {
  height: 87px;
  width: 100px;
  background-image: url("Image/Phoenix/brand-logo/logo.png");
  background-size: contain;
  position: relative;
  top: 5px;
}
a {
  text-decoration: none;
  color: white;
}
.right {
  height: 65px;
  width: 300px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.login {
  height: 50px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.login:hover{
  transform: scale(1.15);
}
.signup {
  height: 50px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.signup:hover{
  transform: scale(1.15);
}
.company {
  height: 160px;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: larger;
}
.company-title {
  position: relative;
  top: 30px;
}
.home {
  color: gray;
  position: relative;
  top: 20px;
}
.home:hover {
  text-decoration: underline;
}
.row1div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row1 {
  width: 90%;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.box1 {
  height: 240px;
  width: 400px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("Image/Phoenix/support/background-image.png");
  background-size: cover;
}
.box2 {
  height: 240px;
  width: 400px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("Image/Phoenix/support/background-image.png");
  background-size: cover;
}
.box3 {
  height: 240px;
  width: 400px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("Image/Phoenix/support/background-image.png");
  background-size: cover;
}
.row2div {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row2 {
  width: 90%;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.box4 {
  height: 240px;
  width: 400px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("Image/Phoenix/support/background-image.png");
  background-size: cover;
}
.box5 {
  height: 240px;
  width: 400px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("Image/Phoenix/support/background-image.png");
  background-size: cover;
}
.box6 {
  height: 240px;
  width: 400px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("Image/Phoenix/support/background-image.png");
  background-size: cover;
}
.text {
  height: 160px;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 330px;
  width: 100%;
  background-color: #260943;
  color: white;
  display: flex;
  justify-content: space-evenly;
}
a {
  color: white;
}
.footer1 {
  height: 315px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-logo {
  height: 225px;
  width: 300px;
}
.footer2 {
  height: 330px;
  width: 350px;
}
.footer2 ul li {
  margin-left: 20px;
}
.footer2 ul li:hover{
  text-decoration: underline;
}
.footer3 {
  height: 330px;
  width: 350px;
}
.footer3 ul li {
  margin-left: 20px;
}
.footer3 ul li:hover{
  text-decoration: underline;
}
.footer4 {
  height: 330px;
  width: 350px;
}
.footer4 ul {
  margin-left: 20px;
}
.footer-social-icon {
  height: 70px;
  width: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-social-icon img {
  height: 30px;
  width: 30px;
}
.copyright {
  height: 50px;
  width: 100%;
  background-color: #260943;
}
.copyright p {
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  top: 10px;
}
