<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Headphones</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/static/headphones.css">
</head>
<body>
    <header>    
        <div class="navbar">
            <div class="left">
                <a href="/"><div class="brandname"></div></a>
            </div>
            <div class="middle">
                <a href="/"><div class="product">PRODUCT</div></a>
                <a href="/"><div class="logo"></div></a>
                <a href="/support"><div class="support">SUPPORT</div></a>
                <a href="/about"><div class="aboutus">ABOUT US</div></a>
            </div>
            <div class="right">
                <a href="/profile"><div class="signup">PROFILE</div></a>
            </div>
        </div>
    </header>
    <div class="headphones-title">
        <h1 class="gaming-headphones-title">Gaming Headphones</h1>
    </div>
    <div class="results">
        <h3>showing 4 of 4 results</h3>
    </div>
    <div class="products-row-1">
        <div class="products1">
            <div class="vader100">
                <a href="/vader100"><img src="/static/Image/Phoenix/Headphones-img/Vader100/vader1001.jpg" alt="vader100" class="vader100-img"></a>
                <h3 class="vader100-h3">Vader 100</h3>
                <div class="vader100-price">
                    <h3 class="vader100-before-price">Rs. 1,799.00</h3>
                    <h3 class="vader100-after-price">Rs. 799.00</h3>
                </div>
            </div>
            <div class="vader200">
                <a href="/vader200"><img src="/static/Image/Phoenix/Headphones-img/Vader200/vader2001.jpg" alt="vader200" class="vader200-img"></a>
                <h3 class="vader200-h3">Vader 200</h3>
                    <div class="vader200-price">
                        <h3 class="vader200-before-price">Rs. 2,199.00</h3>
                        <h3 class="vader200-after-price">Rs. 1,299.00</h3>
                    </div>
            </div>
            <div class="vader300">
                <a href="/vader300"><img src="/static/Image/Phoenix/Headphones-img/Vader300/vader3001.jpg" alt="vader300" class="vader300-img"></a>
                <h3 class="vader300-h3">Vader 300</h3>
                <div class="vader300-price">
                    <h3 class="vader300-before-price">Rs. 3,199.00</h3>
                    <h3 class="vader300-after-price">Rs. 1,399.00</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="products-row-2">
        <div class="products2">
            <div class="vader350">
                <a href="/vader350"><img src="/static/Image/Phoenix/Headphones-img/Vader350/vader3501.jpg" alt="vader350" class="vader350-img"></a>
                <h3 class="vader350-h3">Vader 350</h3>
                <div class="vader350-price">
                    <h3 class="vader350-before-price">Rs. 2,999.00</h3>
                    <h3 class="vader350-after-price">Rs. 1,599.00</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer1">
            <a href="/"><img src="/static/Image/Phoenix/brand-logo/logo-white.png" class="footer-logo"></a>
        </div>
        <div class="footer2">
            <br><br>
            <h2>Stuff You Should Buy</h2>
            <br>
            <ul>
               <li><a href="/wirelessearbuds">Wireless Earbuds</a></li><br>
               <li><a href="/headphones">Headphones</a></li><br>
               <li><a href="/speakers">Speakers</a></li><br>
               <li><a href="/keyboards">Keyboards</a></li><br>
            </ul>
        </div>
        <div class="footer3">
            <br><br>
            <h2>Stuff You Should Know</h2>
            <br>
            <ul>
                <li><a href="/about">About Us</a></li><br>
                <li><a href="/support">Support</a></li><br>
                <li><a href="/support">Terms and Conditions</a></li><br>
                <li><a href="/support">Privacy Policy</a></li><br>
                <li><a href="/support">Shipping Policy</a></li><br>
                <li><a href="/support">Refund Policy</a></li><br>
            </ul>
        </div>
        <div class="footer4">
            <br><br>
            <h2>Stuff You Should Know</h2>
            <br>
            <ul>
                Stay Tuned For offers & updates<br> from Phoenix
            </ul>
            <div class="footer-social-icon">
                <a href="https://www.instagram.com/"><img src="/static/Image/Phoenix/social-media-icons/instagram-icon-white&black.png" alt="instagram-icon"></a>
                <a href="https://www.facebook.com/"><img src="/static/Image/Phoenix/social-media-icons/facebook-icon-white&black.png" alt="facebook-icon"></a>
                <a href="https://www.youtube.com/"><img src="/static/Image/Phoenix/social-media-icons/youtube-icon-white&black.png" alt="youtube-icon"></a>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>Copyrights © 2024 [Phoenix]. All rights reserved</p>
    </div>
</body>
</html>