<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaming Keyboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/static/keyboards.css">
</head>
<body>
    <header>    
        <div class="navbar">
            <div class="left">
                <a href="/"><div class="brandname"></div></a>
            </div>
            <div class="middle">
                <a href="/"><div class="product">PRODUCT</div></a>
                <a href="/"><div class="logo"></div></a>
                <a href="/support"><div class="support">SUPPORT</div></a>
                <a href="/about"><div class="aboutus">ABOUT US</div></a>
            </div>
            <div class="right">
                <a href="/profile"><div class="signup">PROFILE</div></a>
            </div>
        </div>
    </header>
    <div class="keyboards-title">
        <h1 class="keyboard-title">Gaming Keyboard</h1>
    </div>
    <div class="results">
        <h3>showing 2 of 2 results</h3>
    </div>
    <div class="products-row-1">
        <div class="products1">
            <div class="grind100">
                <a href="/grind100"><img src="/static/Image/Phoenix/Keyboards-img/Grind100/grind1001.jpg" alt="grind100" class="grind100-img"></a>
                <h3 class="grind100-h3">Grind 100</h3>
                    <div class="grind100-price">
                        <h3 class="grind100-before-price">Rs. 1,999.00</h3>
                        <h3 class="grind100-after-price">Rs. 999.00</h3>
                    </div>
            </div>
            <div class="grind105">
                <a href="/grind105"><img src="/static/Image/Phoenix/Keyboards-img/Grind105/grind1051.jpg" alt="grind105" class="grind105-img"></a>
                <h3 class="grind105-h3">Grind 105</h3>
                    <div class="grind105-price">
                        <h3 class="grind105-before-price">Rs. 1,999.00</h3>
                        <h3 class="grind105-after-price">Rs. 1,099.00</h3>
                    </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer1">
            <a href="/"><img src="/static/Image/Phoenix/brand-logo/logo-white.png" class="footer-logo"></a>
        </div>
        <div class="footer2">
            <br><br>
            <h2>Stuff You Should Buy</h2>
            <br>
            <ul>
               <li><a href="/wirelessearbuds">Wireless Earbuds</a></li><br>
               <li><a href="/headphones">Headphones</a></li><br>
               <li><a href="/speakers">Speakers</a></li><br>
               <li><a href="/keyboards">Keyboards</a></li><br>
            </ul>
        </div>
        <div class="footer3">
            <br><br>
            <h2>Stuff You Should Know</h2>
            <br>
            <ul>
                <li><a href="/about">About Us</a></li><br>
                <li><a href="/support">Support</a></li><br>
                <li><a href="/support">Terms and Conditions</a></li><br>
                <li><a href="/support">Privacy Policy</a></li><br>
                <li><a href="/support">Shipping Policy</a></li><br>
                <li><a href="/support">Refund Policy</a></li><br>
            </ul>
        </div>
        <div class="footer4">
            <br><br>
            <h2>Stuff You Should Know</h2>
            <br>
            <ul>
                Stay Tuned For offers & updates<br> from Phoenix
            </ul>
            <div class="footer-social-icon">
                <a href="https://www.instagram.com/"><img src="/static/Image/Phoenix/social-media-icons/instagram-icon-white&black.png" alt="instagram-icon"></a>
                <a href="https://www.facebook.com/"><img src="/static/Image/Phoenix/social-media-icons/facebook-icon-white&black.png" alt="facebook-icon"></a>
                <a href="https://www.youtube.com/"><img src="/static/Image/Phoenix/social-media-icons/youtube-icon-white&black.png" alt="youtube-icon"></a>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>Copyrights © 2024 [Phoenix]. All rights reserved</p>
    </div>
</body>
</html>