<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | Phoenix</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="/static/login.css">
</head>
<body>
  <div class="background">
    <div class="login-box">
      <h1 class="login">Login</h1>
      <h3 class="username-title">Username</h3>
      <form method="POST">
        <div class="input-container">
          <input type="text" placeholder="Type Your Username" class="user-box" name="username">
          <div class="user-icon">
            <i class="fa-solid fa-user"></i>
          </div>
        </div>
        <h3 class="password-title">Password</h3>
        <div class="input-container">
          <input type="password" placeholder="Type Your Password" class="password-box" name="password">
          <div class="password-icon">
            <i class="fa-solid fa-unlock-keyhole"></i>
          </div>
        </div>
        <input type="submit" class="login-button" value="Login">
      </form>
      <h3 class="find-us-on">Find Us On:</h3>
      <div class="social-media-icons">
        <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram fa-2xl"></i></a>
        <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook fa-2xl"></i></a>
        <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube fa-2xl" style="color: #ff0000;"></i></a>
      </div>
    </div>
  </div>
</body>
</html>