<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Support</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/static/support.css">
</head>
<body>
    <header>    
        <div class="navbar">
            <div class="left">
                <a href="/"><div class="brandname"></div></a>
            </div>
            <div class="middle">
                <a href="/"><div class="product">PRODUCT</div></a>
                <a href="/"><div class="logo"></div></a>
                <a href="/support"><div class="support">SUPPORT</div></a>
                <a href="/about"><div class="aboutus">ABOUT US</div></a>
            </div>
            <div class="right">
                <a href="/profile"><div class="signup">PROFILE</div></a>

            </div>
        </div>
    </header>
    <div class="company">
        <div class="company-title">
            <h1>Company Policies</h1>
            <a href="/"><h3 class="home">Home</h3></a>
        </div>
    </div>
    <div class="row1div">
        <div class="row1">
            <div class="box1">
                <h2 class="box1-name">Terms and <br> Conditions</h2>
            </div>
            <div class="box2">
                <h2 class="box2-name">Privacy <br> Policy</h2>
            </div>
            <div class="box3">
                <h2 class="box3-name">Shipping <br> Policy</h2>
            </div>
        </div>
    </div>
    <div class="row2div">
        <div class="row2">
            <div class="box4">
                <h2 class="box4-name">Refund and <br> Replacement</h2>
            </div>
            <div class="box5">
                <h2 class="box5-name">Refund <br> Policy</h2>
            </div>
            <div class="box6">
                <h2 class="box6-name">Customer <br> Support</h2>
            </div>
        </div>
    </div>
    <div class="text">
        We are committed to provide a smooth and <br>unforgettable experience to all our customers. 
    </div>
    <div class="footer">
        <div class="footer1">
            <a href="/"><img src="/static/Image/Phoenix/brand-logo/logo-white.png" class="footer-logo"></a>
        </div>
        <div class="footer2">
            <br><br>
            <h2>Stuff You Should Buy</h2>
            <br>
            <ul>
               <li><a href="wirelessearbuds.html">Wireless Earbuds</a></li><br>
               <li><a href="headphones.html">Headphones</a></li><br>
               <li><a href="speakers.html">Speakers</a></li><br>
               <li><a href="keyboards.html">Keyboards</a></li><br>
            </ul>
        </div>
        <div class="footer3">
            <br><br>
            <h2>Stuff You Should Know</h2>
            <br>
            <ul>
                <li><a href="aboutus.html">About Us</a></li><br>
                <li><a href="support.html">Support</a></li><br>
                <li><a href="support.html">Terms and Conditions</a></li><br>
                <li><a href="support.html">Privacy Policy</a></li><br>
                <li><a href="support.html">Shipping Policy</a></li><br>
                <li><a href="support.html">Refund Policy</a></li><br>
            </ul>
        </div>
        <div class="footer4">
            <br><br>
            <h2>Stuff You Should Know</h2>
            <br>
            <ul>
                Stay Tuned For offers & updates<br> from Phoenix
            </ul>
            <div class="footer-social-icon">
                <a href="https://www.instagram.com/"><img src="/static/Image/Phoenix/social-media-icons/instagram-icon-white&black.png" alt="instagram-icon"></a>
                <a href="https://www.facebook.com/"><img src="/static/Image/Phoenix/social-media-icons/facebook-icon-white&black.png" alt="facebook-icon"></a>
                <a href="https://www.youtube.com/"><img src="/static/Image/Phoenix/social-media-icons/youtube-icon-white&black.png" alt="youtube-icon"></a>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>Copyrights © 2024 [Phoenix]. All rights reserved</p>
    </div>
</body>
</html>